.#{$theme-name} {
  .esriOverviewMap  {
    position: absolute;
    z-index: 99;
    .ovwContainer { 
      position: absolute;
      display: none;
      background-color: $Calcite_Gray_050;
      padding: $esri-ovw-padding;
      @include  calcite-box-shadow-base();
    }
    .map {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $Calcite_Gray_050;
    }
    .ovwHighlight {
      position: absolute;
      display: none;
      z-index: 99;
      cursor: move;
    }
    .ovwButton {
      position: relative;
      background-color: $Calcite_Gray_100;
      color: $Calcite_Gray_650;
      width: $esri-ovw-icon-size + $esri-ovw-btn-padding*2;
      height: $esri-ovw-icon-size + $esri-ovw-btn-padding*2;
      padding: $esri-ovw-btn-padding;
      font-size: $esri-ovw-icon-size;
      cursor: pointer;
      z-index: 99;
      @include dijit-icons();
      @include  calcite-box-shadow-base();
      &.ovwHide {
        margin: $padding-base-vertical + $esri-ovw-btn-padding;
      }
    }
    .ovwMaximizer {
      display: none;
      margin: $padding-base-vertical + $esri-ovw-btn-padding;
    }
    .ovwDisabledButton {
      display: none !important;
    }
    .ovwMaximize {
      &:before {
        content: "\e60e";
      }
    }
    .ovwRestore {
      &:before {
        content: "\e60f";
      }
    }
    &.ovwTL {
      top: 0px;
      left: 0px;
    }
    &.ovwTR {
      top: 0px;
      right: 0px;
    }
    &.ovwBL {
      bottom: 0px;
      left: 0px;
    }
    &.ovwBR {
      bottom: 0px;
      right: 0px;
    }
    &.ovwTL,
    &.ovwTR {
      .ovwMaximizer  {
        margin-top: 0;
      }
    }
    &.ovwBL,
    &.ovwBR {
      .ovwMaximizer  {
        margin-bottom: 0;
      }
    }
    &.ovwTL .ovwContainer {
      top: 0px;
      left: 0px;
    }
    &.ovwTR .ovwContainer {
      top: 0px;
      right: 0px;
    }
    &.ovwBL .ovwContainer {
      bottom: 0px;
      left: 0px;
    }
    &.ovwBR .ovwContainer {
      bottom: 0px;
      right: 0px;
    }
    &.ovwTL .ovwShow, 
    &.ovwBR .ovwHide {
      &:before {
        content: "\e60b";
      }
    }
    &.ovwTR .ovwShow,
    &.ovwBL .ovwHide {
      &:before {
        content: "\e60a";
      }
    }
    &.ovwBL .ovwShow, 
    &.ovwTR .ovwHide {
      &:before {
        content: "\e60d";
      }
    }
    &.ovwBR .ovwShow,
    &.ovwTL .ovwHide {
      &:before {
        content: "\e60c";
      }
    }
    .bingLogo-lg {
      display: none;
    }
  }
}