/* TabContainer 
 * 
 * Styling TabContainer means styling the TabList and Its content container  (dijitTitlePane)
 * 
 * Tab List: (including 4 kinds of tab location)
 * 		.dijitTabContainerTop-tabs     - tablist container at top
 * 		.dijitTabContainerBottom-tabs  - tablist container at bottom
 * 		.dijitTabContainerLeft-tabs    - tablist container at left
 * 		.dijitTabContainerRight-tabs   - tablist container at right
 * 
 * Tab Strip Button:
 * 		.dijitTabStripIcon - tab strip button icon
 * 		.dijitTabStripMenuIcon - down arrow icon position
 * 		.dijitTabStripSlideLeftIcon - left arrow icon position
 * 		.dijitTabStripSlideRightIcon - right arrow icon position
 * 
 * 		.tabStripButtonDisabled - styles for disabled tab strip buttons
 * 
 * Tab Button:
 * 		.dijitTabContainerTop-tabs .dijitTab     - styles for top tab button container
 * 		.dijitTabContainerBottom-tabs .dijitTab  - styles for bottom tab button container
 * 		.dijitTabContainerLeft-tabs .dijitTab    - styles for left tab button container
 * 		.dijitTabContainerRight-tabs .dijitTab   - styles for right tab button container
 * 
 * 		.dijitTabContainerTop-tabs .dijitTabChecked .dijitTab
 * 				- styles for selected status of top tab button
 * 		same to Bottom, Left, Right Tabs
 * 
 * 		.dijitTabHover .dijitTab   - styles when mouse hover on tab buttons
 * 		.dijitTabActive .dijitTab  - styles when mouse down on tab buttons
 * 		.dijitTabChecked .dijitTab  - styles when on buttons of selected tab
 * 
 * 		.dijitTabCloseButton - the close action buttons lie at the right top of each tab button on closable tabs
 * 		.dijitTabCloseButtonHover - styles when mouse hover on close action button
 * 		.dijitTabCloseButtonActive - styles when mouse down on close action button
 * 
 * Tab Button: (checked status)
 * 
 * Tab Content Container:
 * 		.dijitTabContainerTop-dijitContentPane
 * 		.dijitTabContainerBottom-dijitContentPane
 * 		.dijitTabContainerLeft-dijitContentPane
 * 		.dijitTabContainerRight-dijitContentPane - for background and padding
 * 
 * Nested Tabs:
 * 		.dijitTabContainerNested - Container for nested tabs
 * 		.dijitTabContainerTabListNested - tab list container for nested tabs
 */

.#{$theme-name} {
	
	.dijitTabContainer {
	}

	.dijitTabPaneWrapper {
		border: 0;
    @include box-sizing(content-box);
	}

	.dijitTabContainerTop-tabs,
	.dijitTabContainerBottom-tabs,
	.dijitTabContainerLeft-tabs,
	.dijitTabContainerRight-tabs {
		border: 0;
	}

  // Tab
  // --------------------------------------------------
  .dijitTab {
    padding: $nav-link-padding;
    line-height: $line-height-base;
    border: 1px solid transparent;
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $nav-link-hover-bg;
    }
  }

  // Tab: checked
  .dijitTabChecked {
    &,
    &:hover,
    &:focus {
  		color: $nav-tabs-active-link-hover-color;
      background-color: $nav-tabs-active-link-hover-bg;
      cursor: default;
  	}
  }

  // Tab: disabled
  .dijitTabDisabled {
    &,
    &:hover,
    &:active,
    &:focus {
      background-color: transparent !important;
      border-color: transparent !important;
      cursor: $cursor-disabled;
      pointer-events: none; // Future-proof disabling of clicks
      @include opacity(.65);
      @include box-shadow(none);
    }
  }

  // Tab: close button
  .dijitTabCloseButton {
    margin-left: 5px;
    margin-top: -2px;
    font-size: ($font-size-base * 1.5);
    font-weight: $close-font-weight;
    line-height: 1;
    color: $close-color;
    text-shadow: $close-text-shadow;
    @include opacity(.2);

    &:hover,
    &:focus {
      color: $close-color;
      text-decoration: none;
      cursor: pointer;
      @include opacity(.5);
    }

    &:before {
      content: "×";
    }
  }

  // Top tabs
  // --------------------------------------------------
  .dijitTabContainerTop {
    .dijitTabPaneWrapper {
      border-top: 1px solid $nav-tabs-border-color;
    }
    .dijitTabListContainer-top {
      margin-top: 1px;
      .dijitTab {
        top:0;
      }
    }
    .dijitTabContainerTop-tabs {
      .dijitTab {
        margin-right: 2px;
        border-left: 0px;
        border-right: 0px;
        border-radius: $border-radius-base $border-radius-base 0 0;
        vertical-align: bottom;
         &:hover {
          padding-top: 4px;
          border-bottom: 1px solid $nav-tabs-border-color;
          border-top: 3px solid $brand-primary;
        }
      }

      .dijitTabChecked {
        &,
        &:hover,
        &:focus {
          border: 1px solid $nav-tabs-active-link-hover-border-color;
          border-bottom-color: transparent;
        }
        &:hover {
          padding-top: 6px;
        }
      }
    }
  }

  //Bottom tabs
  // --------------------------------------------------
  .dijitTabContainerBottom {
    .dijitTabPaneWrapper {
      border-bottom: 1px solid $nav-tabs-border-color;
    }

    .dijitTabListContainer-bottom {
      margin-top: -1px;
     .dijitTab {
       top: 0;
     }
    }

    .dijitTabContainerBottom-tabs {
      .dijitTab {
    		margin-right: 2px;
        border-left: 0px;
        border-right: 0px;
        border-radius: 0 0 $border-radius-base $border-radius-base;
    		vertical-align: top;
        &:hover {
          padding-bottom: 4px;
          border-top: 1px solid $nav-tabs-border-color;
          border-bottom: 3px solid $brand-primary;
        }
    	}

      .dijitTabChecked {
        &,
        &:hover,
        &:focus {
          border: 1px solid $nav-tabs-active-link-hover-border-color;
          border-top-color: transparent;
        }
        &:hover {
          padding-bottom: 6px;
        }
      }
    }
  }

  // Left tabs
  // --------------------------------------------------
  .dijitTabContainerLeft {
    .dijitTabPaneWrapper {
      border-left: 1px solid $nav-tabs-border-color;
    }

    .dijitTabContainerLeft-tabs {
      .dijitTab {
        margin-bottom: 2px;
        border-top: 0px;
        border-bottom: 0px;
        border-radius: $border-radius-base 0 0 $border-radius-base;
        vertical-align: middle;
        &:hover {
          padding-left: 13px;
          border-right: 1px solid $nav-tabs-border-color;
          border-left: 3px solid $brand-primary;
        }
      }

      .dijitTabChecked {
        &,
        &:hover,
        &:focus {
          border: 1px solid $nav-tabs-active-link-hover-border-color;
          border-right-color: transparent;
        }
        &:hover {
          padding-left: 15px;
        }
      }
    }
  }

  // Right tabs
  // --------------------------------------------------
  .dijitTabContainerRight {
    .dijitTabPaneWrapper {
      border-right: 1px solid $nav-tabs-border-color;
    }

    .dijitTabContainerRight-tabs {
       .dijitTab {
        margin-bottom: 2px;
        border-top: 0px;
        border-bottom: 0px;
        border-radius: 0 $border-radius-base $border-radius-base 0;
        vertical-align: middle;
        &:hover {
          padding-right: 13px;
          border-left: 1px solid $nav-tabs-border-color;
          border-right: 3px solid $brand-primary;
        }
      }

      .dijitTabChecked {
        &,
        &:hover,
        &:focus {
          border: 1px solid $nav-tabs-active-link-hover-border-color;
          border-left-color: transparent;
        }
        &:hover {
          padding-right: 15px;
        }
      }
    }
  }

  // Strip buttons
  // --------------------------------------------------

  .tabStripButton {
    color: $link-color;
    padding-left: 0;
    padding-right: 0;
    @include box-sizing(content-box);
  }

  .dijitTabListContainer-top {
    .tabStripButton {
      border-bottom: 1px solid $nav-tabs-border-color;
    }
  }

  .dijitTabListContainer-bottom {
    .tabStripButton {
      border-top: 1px solid $nav-tabs-border-color;
    }
    .dijitTabStripMenuIcon {
      &:before {
        content: "\e609";
      }
    }
  }

  .dijitTabStripIcon {
  	@include dijit-icons();
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 2;
  	vertical-align: middle;
  }

  .dijitTabStripSlideLeftIcon {
    &:before {
      content: "\e62a";
    }
  }

  .dijitTabStripSlideRightIcon {
  	&:before {
  		content: "\e62b";
  	}
  }

  .dijitTabStripMenuIcon {
  	&:before {
  		content: "\e608";
  	}
  }

  // Container of tabs only when tabPosition is "top" or "bottom"
  .dijitTabListWrapper {
    margin: 0 10px;
  }


  // Nested tabs
  // --------------------------------------------------
  .dijitTabContainerNested {
  	.dijitTab {
      top: 0;
      border: 0;
      border-radius: $nav-pills-border-radius;

      &.dijitTabChecked {
        color: $nav-pills-active-link-hover-color;
        background-color: $nav-pills-active-link-hover-bg;
        border: 0;
      }
  	}

    &.dijitTabContainerTop,
    &.dijitTabContainerBottom,
    &.dijitTabContainerLeft,
    &.dijitTabContainerRight {
      .dijitTabPaneWrapper {
        border: 0;
      }
      .dijitTab {
        &:hover {
          padding: $nav-link-padding;
          border: 0;
        }
      }
    }
    // &.dijitTabContainerTop-tabs,
    // &.dijitTabContainerBottom-tabs {
    //   margin-left: 2px;
    //   margin-right: 0;
    // }
  }


}