@mixin dijit-icons() {
	font-family: 'CalciteWebCoreIcons';
	speak: none;
	font-size: $icon-size-base;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
    text-indent: 0;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}